* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
  }
.popular-container {
    margin-top: 2rem;
    margin-left: 2rem;

}

.title {

    text-align: center;
    font-size: 1.875rem; 
}


.popular-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    overflow-x: auto;
    padding-left: 1.25rem;
    scrollbar-width: none;
}

.popular-items::-webkit-scrollbar {
    display: none; 
}


.imgLink {
    display: block;
    width: 15rem; 
    height: 23rem; 
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: inherit;
    position: relative; /* Added to control the position of .view */
    transition: border 0.3s ease;
}

.imgBox {
    width: 100%;
    height: 14rem; 
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
}

.imgItem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s ease;
}

.imgLink:hover .imgItem {
    transform: scale(1.1);
}

/* Eye Icon Positioning */
.view {
    position: absolute;
    width: 1.8rem; 
    height: 1.8rem; 
    left: 85%;
    top: 11%; 
    transform: translate(-50%, -50%); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    
}

/* Show the eye icon on hover */
.imgLink:hover .view {
    opacity: 1;
}

/* Item Name */
.itemName {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: 1rem; 
    color: gray;
}

.itemPrice {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: 1rem;
}
